<html>
  <head>
    <title>Erreur</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="error-container">
      <h1>Erreur</h1>
      <p><%= message %></p>
      <a href="/">Retour</a>
    </div>
  </body>
</html>
